{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block body %}

<body>


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>Rahima Khan</h1>
      <h2>I'm a Computer Systems Engineer </h2>
      <a href="/about" class="btn-about">About Me</a>
    </div>
    <div p class="hero-subtitle"><span class="typed" data-typed-items="Computer Systems Engineer, Developer, Freelancer, Artist"></span></p> </div>
  </section><!-- End Hero -->

  <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="static/img/about.jpg" alt="" height ="400px">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h1>Computer Systems Engineer</h1><br><br>
            <p class="fst-italic">
              This is Rahima Khan a hardworking and ambitious fresh graduate of Computer System Engineering at NED University of Engineering and Technology.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> 
              My keen interest in Programming & Hardware makes me persuade Computer System Engineering as my career.</li>
              <li><i class="ri-check-double-line"></i> 
              I am extremely enthusiastic about innovations and have worked on several projects related to python, machine learning, microcontrollers and microprocessors.</li>
              <li><i class="ri-check-double-line"></i> 
              I have a solid educational foundation and have a passion for programming & development. I enjoy being challenged and engaging with projects that require me to work outside my comfort and knowledge set. </li>
              </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

{% endblock body %}

 

 