{% extends 'base.html' %}
{% block title %} Resume{% endblock title %} 
{% block body %}

<body>

  <main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title align-items-center">
          <h2>Resume</h2>
          <div >
            <a href="/download" class="btn btn-info align-items-center" >Download</a><br>
          </div>
          <br>

          <p>I am a hardworking fresh graduate who wants to explore new things, that is why i worked on multiple technologies to widen my horizon some of my projects are as follow </p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            

          <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Bechlor Of Engineering &amp; (CIS)</h4>
                <h5>2017 - 2021</h5>
                <p><em>NED University of Engineering and Technology, Karachi </em></p>
                <p>I have done my BE in Computer Information Systems Engineering from the reputable university with CGPA 3.68 from academic year of 2017-2021</p>
              </div>

              <div class="resume-item">
                <h4>Intermediate &amp; Pre Engineering</h4>
                <h5>2015 - 2017</h5>
                <p><em>BAMM P.E.C.H.S COLLEGE for Women, Karachi</em></p>
                <p>I have done my intermediate from the top most college for girls in karachi with 85% percentage and successfully secured A+ grade </p>
              </div>

              <div class="resume-item">
                <h4>Matriculation &amp; Computer Science</h4>
                <h5>2013 - 2015</h5>
                <p><em>Al- HAmeed Secondary School, Karachi</em></p>
                <p>I have done my matriculation from a recognizable School in karachi with 88% percentage and successfully secured A+ grade </p>
              </div>

          <h3 class="resume-title">Work Experience</h3>
            <div class="resume-item">
              <h4>Smart Cube</h4>
              <p><em>As Junior developer, responsible for making small changes in website as per client's requirements</em></p>
            </div>

            <div class="resume-item">
              <h4>Smart City Lab</h4>
              <p><em>As Embedded Engineer, responsible for interacting several hardware components (i.e. microcontroller and sensors) with android app</em></p>
            </div>

            <div class="resume-item">
              <h4>Teacher</h4>
              <p><em>As a Tutor with Experienceof 6 years in teaching computer, mathematics, physics </em></p>
            </div>

          </div>

          <div class="col-lg-6">
            <h3 class="resume-title">Recent Projects</h3>
            

            <div class="resume-item">
              <h4>Smart Mart</h4>
              <p><em>Technologies: PHP, HTML, CSS, bootstrape, MySql </em></p>
              <p>
              <ul>
                <li>a supermarket software that automates various management procedures</li>
                <li>Keep record of all selling products and update if they are out of stock</li>
                <li>online grocery with user friendly enviroment</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Machine Learning with homomorphic encryption </h4>
              <p><em>Technologies: python, machine learnng, Linear Regression </em></p>
              <p>
              <ul>
                <li>It allows the second party to process your encrypted data without decryption,</li>
                <li>provide a secure way for processing in cloud or server</li>
                
              </ul>
            </div>

            <div class="resume-item">
              <h4>Color Detection Robot </h4>
              <p><em>Technologies: Servo motor, IR sensor, Arduino </em></p>
              <p>
              <ul>
                <li>it detect color by measuring radiation received by IR sensor and move right and left accordingly</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Light-Based Electronic Trap for Pest Control In Agricultural Field</h4>
              <p><em>Technologies: raspberry pi 4, python, machine learning, OpenCV, yolov3 </em></p>
              <p>
              <ul>
                <li> Insects generally attract towards light so this trap proposed a light-based system in which multiple lights are generated to attract pests towards light,</li>
                <li>it uses computer vision algorithm which is able to identify pests in real time.</li>
                <li>After detection, if the insects are harmful then it activate bug zapper and electrocute insects</li>
                <li>If the insects are non harmful then bug zapper remain idle.</li>
              </ul>
            </div>

          </div>
        </div>
      
      </div>
     
    </section><!-- End Resume Section -->
    
  </main><!-- End #main -->

 {% endblock body %}